body{
    margin:0;
    font-family:Arial;
    background:#0f0f0f;
    color:white;
}

header{
    background:black;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:#ff4fa3;
}

.lang button{
    margin:2px;
    padding:5px 10px;
    border:none;
    cursor:pointer;
    background:#ff4fa3;
    color:white;
    border-radius:5px;
}

.hero{
    text-align:center;
    padding:60px;
    background:linear-gradient(45deg,#000,#ff4fa3);
}

.form-section{
    padding:20px;
    max-width:500px;
    margin:auto;
}

input,select,textarea{
    width:100%;
    padding:10px;
    margin:8px 0;
    border:none;
    border-radius:8px;
}

button{
    width:100%;
    padding:12px;
    background:#ff4fa3;
    border:none;
    color:white;
    cursor:pointer;
    border-radius:8px;
}

button:hover{
    background:#ff2f8a;
}

#msg{
    text-align:center;
    margin-top:10px;
    color:#00ff99;
}

.admin{
    padding:20px;
}

.order{
    background:#1a1a1a;
    padding:10px;
    margin:10px 0;
    border-left:3px solid #ff4fa3;
}